@font-face {
    font-family: 'NotoSans-Normal';
    src: url('../fonts/NotoSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'NotoSans-Bold';
    src: url('../fonts/NotoSans-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'NotoSans-Italic';
    src: url('../fonts/NotoSans-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'NotoSansKR-Thin';
    src: url('../fonts/NotoSansKR-Thin.otf') format('OpenType');
}

$header-font-size: 32px;
$body-font-size: 24px;
$small-font-size: 12px;
$base-color : #22272E;
$point-color: #283A3B;
$pastel-yello: #fff3bf;
$default-font-face: 'NotoSans-Normal';
$bold-font-face: 'NotoSans-Bold';
$default-font-italic: 'NotoSans-Italic';
$thin-font-face: 'NotoSansKR-Thin';

$primary-color: #88D5BF;
$secondary-color: #96AD93;
$third-color: #3E6239;

body {
    margin: 0;
}

div {
    box-sizing: border-box;    
}

